QWidget {
    color: rgb(251, 251, 252);
    background-color: rgb(36, 36, 36)
}

QPushButton {
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #005eff;
    background-color: rgb(66, 170, 211);
}

QCommandLinkButton {
    color:black;
    background-color: rgb(66, 170, 211);
    border: 2px solid #005eff;
}
QLabel {
    color: rgb(255, 255, 255);
}

QTextEdit {
    color: rgb(2, 2, 2);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #005eff;
    background-color: rgb(66, 170, 211);
}

QLineEdit {
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #005eff;
    background-color: rgb(186, 235, 255);
}
